<!DOCTYPE html>
<html ng-app="JoeBlau" lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
  xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Joe Blau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Joe Blau's - GitHub Projects">
    <meta name="author" content="Joe Blau">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/pictonic.css">
    <!--[if lt IE 8]><script src="assets/js/pictonic.min.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/dev.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
  </head>
  <body>

  <section id="header" class="dark">
    <nav class="navbar" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://joeblau.com">Joe Blau</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://blog.joeblau.com">Blog</a></li>
            <li><a href="#">Projects</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </section>

  <section id="projects">
    <header>
      <div class="container center-text">
        <h1>Projects</h1>
        <p>Here are a collection of projects that I've worked on over my career. Projects range from mobile and front end development all the way to backend systems and security work</p>
      </div>
    </header>

    </section>
   <section class="project-list">

    <div class="container">
    <div ng-controller="ProjectCtrl" id="grid" data-columns>
      <div ng-repeat="project in projects" class="glass-pane">
        <table class="table">
          <tbody>
          <tr>
            <td ng-repeat="color in project.colors" ng-style="{'background-color':'{{color}}'}"></td>
          </tr>
          <tr>
            <img width="100%" ng-src="{{project.image}}"/>
          </tr>
          </tbody>
        </table>
        <div class="detail-pad">
          <h2 class="center-text">{{project.title}}</h2>
          <p>{{project.description}}</p>
          <h3 class="center-text" ng-hide="!project.technologies">Technology</h3>
          <ul>
            <li ng-repeat="tech in project.technologies"><i class="{{tech}} tech-icon"></i> </li>
          </ul>
          <h3 class="center-text" ng-hide="!project.links">Links</h3>
          <p ng-repeat="link in project.links"><a href="{{link.url}}">{{link.title}}</a></p>
          <h3 class="center-text" ng-hide="!project.sources">Source</h3>
          <p ng-repeat="source in project.sources"><a href="{{source.url}}">{{source.title}}</a></p>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section id="footer">
    <footer class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="center-text">
              <div class="icons">
                <a href="https://twitter.com/joe_blau" class="tw social-text"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/joeblau" class="fb social-text"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/+joeblau" class="gp social-text"><i class="fa fa-google-plus"></i></a>
                <a href="http://instagram.com/joeblau" class="ig social-text"><i class="fa fa-instagram"></i></a>
                <a href="http://www.linkedin.com/in/joeblau" class="li social-text"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/joeblau" class="gh social-text"><i class="fa fa-github"></i></a>
                <a href="https://dribbble.com/joeblau" class="db social-text"><i class="fa fa-dribbble"></i></a>
              </div>
              <p>2007-2014 Joe Blau</p>
            </div>

          </div>
        </div>
      </div>
    </footer>
  </section>


  </body>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
  <script src="assets/js/salvattore.min.js"></script>
  <script src="assets/js/joeblau.js"></script>
</html>