html {
  background: url(../img/pwl.png) repeat;
}
body {
  min-height: 100%;
  background: transparent;
  color: #fff;
  padding: 60px 0 0 0;
  margin: 0;
}
.project {
  background-color: rgba(45, 45, 45, 0.6);
  margin-top: 20px;
  margin-bottom: 20px;
}
.table {
  margin-bottom: 0px;
}
.table td {
  border-top: none;
  padding: 2px;
}
.navbar {
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
  background-color: rgba(45, 45, 45, 0.6);
}
.navbar-inner {
  border-style: none;
  background:transparent;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  filter:none;
}
.navbar .brand {
  color: #fff;
  text-shadow: none;
}
.navbar .nav li {
  padding: 4px;
}

.navbar .nav li a {
  font-weight:600;
  padding:6px 18px;
  color:#888;
  text-shadow:none;
  -webkit-border-radius:16px;
  border-radius:16px;
  border-color: transparent;
  line-height:16px;
  text-align:center;
  min-width:60px;
  /*border:2px solid rgba(255, 255, 255, 0.5);*/
}
.navbar .nav .active a {
  -webkit-border-radius:16px;
  border-radius:16px;
  color:#fff;
  text-shadow:none;
  background-color: #ff5c29;
  /*box-shadow:rgba(0,0,0,0.2) 0 1px 1px;*/
}

.navbar .nav li a:hover {
  color:#3799ca;
  box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
}
.navbar .nav .active a:hover {
  background:#3ca3d7;
  color:#fff;
  text-shadow:none;
  box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
footer {
  padding-top: 16px;
  /*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
  background-color: rgba(45, 45, 45, 0.6);
}
.center-text {
  text-align: center;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0;
  }
}