
@charset "UTF-8";

@font-face {
  font-family: "developer";
  src:url("fonts/developer.eot");
  src:url("fonts/developer.eot?#iefix") format("embedded-opentype"),
    url("fonts/developer.ttf") format("truetype"),
    url("fonts/developer.svg#developer") format("svg"),
    url("fonts/developer.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "developer" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dev-"]:before,
[class*=" dev-"]:before {
  font-family: "developer" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.dev-angular:before {
  content: "a";
}

.dev-css3:before {
  content: "c";
}

.dev-elasticsearch:before {
  content: "d";
}

.dev-extjs:before {
  content: "e";
}

.dev-html5:before {
  content: "f";
}

.dev-java:before {
  content: "g";
}

.dev-javascript:before {
  content: "h";
}

.dev-mongodb:before {
  content: "i";
}

.dev-nodejs:before {
  content: "j";
}

.dev-php:before {
  content: "k";
}

.dev-pixate:before {
  content: "l";
}

.dev-python:before {
  content: "m";
}

.dev-redhat:before {
  content: "n";
}

.dev-redis:before {
  content: "o";
}

.dev-scala:before {
  content: "p";
}

.dev-spring:before {
  content: "r";
}

.dev-linux:before {
  content: "s";
}

.dev-microsoft:before {
  content: "t";
}

.dev-apple:before {
  content: "u";
}

.dev-blackberry:before {
  content: "v";
}

.dev-android:before {
  content: "w";
}

.dev-safari:before {
  content: "x";
}

.dev-ie:before {
  content: "y";
}

.dev-ios:before {
  content: "z";
}

.dev-firefox:before {
  content: "A";
}

.dev-chrome:before {
  content: "B";
}

.dev-opera:before {
  content: "C";
}

.dev-appengine:before {
  content: "b";
}

.dev-sencha:before {
  content: "q";
}

